header { 
	background-image: url(img/grupal.jpg);
	padding-bottom: 500px;
	background-size: cover;

 }

	/*LISTA NAVEGADOR */
#navlist li{
	list-style: none; 
	display: inline;	
}

	/* LOGO LABORATORIA */
.logo { 
	height: 60px;
	width:370px;
	margin-top: 50px;
	margin-left: 45px;
	
}	

	/* BOTON*/
.nar { 
	padding: 15px 45px 15px 45px;
	background-color:#EE840D;
	width: 160px;
	height: 50px;
	margin-top: 50px;
	display:block;
	font-family: Arial;
	font-size: 16px;
	}

input

	/* TIPOGRAFIA EN GENERAL */
#letra {
	font-family: Arial;
	font-size: 14px;
}

.letra-nav {
	font-family: Arial;
	font-size: 18px;
	margin-left: 30px;
	margin-top: 30px;
}

 
	/* FOTOS CHICAS */
.chica {
	height: 190px;
	width: 280px;
	margin-top: 60px;
}

hr{ margin-bottom: 50px;}

	/* FOOTER */
.pie {
	background-color: gray;
	height: 100px;
}

.tex-pie { 
		margin-top: 30px;
		color: white;
		font-size: 15px; 
	}

/* BOTON LABORATORIA */
.efectors{
display:block!important;
-webkit-transition:-webkit-transform 1s ease-out;
-moz-transition:-moz-transform 1s ease-out;
-o-transition:-o-transform 1s ease-out;
-ms-transition:-ms-transform 1s ease-out;
transition:transform 1s ease-out;
}

.efectors:hover{
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1)
}

.opacity img {
filter:alpha(opacity=90);
-moz-opacity: 0.9;
opacity: 0.9;
margin-top: 20px;}

.opacity:hover img {
filter:alpha(opacity=110);
-moz-opacity: 1.1;
opacity: 1.1;
}